table{
  border-collapse: collapse;
}
table, td, th {
  border: 2px solid rgb(24, 23, 22);
  padding:20px;
}
button{
  color:white;
  font-weight:bold;
  background-color:grey;
  width:100px;
  height:25px;
  font-size:15px;
}